<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@Page.Title - Visual Studio</title>
	<meta name="description" content="@Page.Description" />
	<meta name="keywords" content="@Page.Keywords" />
	<link href="/assets/site.css" rel="stylesheet" />
</head>
<body>

	<header role="banner">
		<h1>Web Development with Visual Studio</h1>
	</header>

	<nav>
		@Helpers.RenderMenu(PageSystem.IndexPage.Children)
	</nav>

	<main role="main">
		@*@Helpers.RenderBreadcrumb(PageSystem.GetCurrentPage(Request))*@
		@RenderBody()
	</main>

	<footer role="contentinfo">
		My footer
	</footer>


	<script src="/assets/menu.js" async></script>
</body>
</html>
