@if (PageSystem.GetCurrentPage(Request).Parent != null)
{
	@RenderBreadcrumb(PageSystem.GetCurrentPage(Request))
}

<article>
	@if (Model.Parent != null)
	{
		<h1>@Model.Title</h1>
		<p>@Model.Description</p>
	}
	<div>
		@Helpers.RenderContent(Model)
	</div>
</article>

<a id="contribute" href="@PageSystem.GetEditPage(Model)">Edit this page on GitHub</a>

@helper RenderBreadcrumb(MarkdownPage page)
{
	List<MarkdownPage> list = new List<MarkdownPage>(new[] { page });
	while (page.Parent != null)
	{
		list.Add(page.Parent);
		page = page.Parent;
	}

	<ul id="breadcrumb" class="breadcrumb">
		@foreach (MarkdownPage item in list.Reverse<MarkdownPage>())
		{
			<li>@CreateAnchorTag(item)</li>
		}
	</ul>
}

@helper CreateAnchorTag(MarkdownPage page)
{
	string link = Helpers.CreateLink(page);
	string className = page == PageSystem.GetCurrentPage(Request) ? "active" : null;

	<a href="@link" class="@className">@page.Title</a>
}
