@{
	string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority;
}
<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/SoftwareApplication">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="utf-8" />
	<title>@Page.Title</title>
	<meta name="description" content="@Page.Description" />
	<meta name="keywords" content="@Page.Keywords" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="@Helpers.Fingerprint("/themes/" + Page.Theme +"/site.css")" rel="stylesheet" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@("@visualstudio")" />
	<meta name="twitter:title" content="@Page.Title" />
	<meta name="twitter:description" content="@Page.Description" />
	<meta name="twitter:image" content="@(baseUrl + "/themes/standard/favicon/apple-touch-icon-120x120.png")" />
	<meta name="twitter:url" content="@(baseUrl + Request.RawUrl)" />

	<meta property="og:title" content="@Page.Title" />
	<meta property="og:description" content="@Page.Description" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="@(baseUrl + Request.RawUrl)" />
	<meta property="og:image" content="@(baseUrl + "/themes/standard/favicon/apple-touch-icon-120x120.png")" />

	<link rel="apple-touch-icon" sizes="57x57" href="/themes/standard/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/themes/standard/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/themes/standard/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/themes/standard/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/themes/standard/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/themes/standard/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/themes/standard/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/themes/standard/favicon/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/themes/standard/favicon/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/themes/standard/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/themes/standard/favicon/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/themes/standard/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/themes/standard/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/themes/standard/favicon/manifest.json">
	<link rel="shortcut icon" href="/themes/standard/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="msapplication-TileImage" content="/themes/standard/favicon/mstile-144x144.png">
	<meta name="msapplication-config" content="/themes/standard/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
</head>
<body>

	<div class="content">
		<header role="banner">
			<div class="container">
				<a href="/"><span itemprop="name">Visual Studio</span> | Web</a>
				<a class="download" href="http://www.visualstudio.com/en-us/products/free-developer-offers-vs.aspx">Free Visual Studio</a>
			</div>
		</header>

		<div class="container">
			<main role="main">
				@Helpers.RenderBreadcrumb(PageSystem.GetCurrentPage(Request))
				@RenderBody()
			</main>

			<nav id="nav" role="navigation">
				<a href="#" id="burger" aria-haspopup="true">Menu&nbsp;&nbsp;&nbsp;</a>
				@Helpers.RenderMenu(PageSystem.IndexPage.Children)
			</nav>
		</div>
	</div>

	<footer role="contentinfo">
		<div class="container">
			<span class="ms" itemprop="publisher">Microsoft</span>
			<a class="download" href="http://www.visualstudio.com/en-us/products/free-developer-offers-vs.aspx">Free Visual Studio</a>
		</div>
	</footer>

	<script src="@Helpers.Fingerprint("/themes/" + Page.Theme + "/site.js")" async></script>
</body>
</html>
